*{
  padding: 0px;
  margin: 0px;
}
.header_balk{
  background-color: #2f3749;
  height:10%;
  width: 100%;
  position: fixed;
  top: 0;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid black;
  padding: 20px;
  display: none;
}
