body {
    background-color: rgb(238, 248, 255);
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: 'Poppins', sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.budget-input{
    display: flex;
    align-items: center;
    margin: 20px;
}

.budget-input input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 10px;
    resize: vertical;
  }
  
  .budget-input button {
    background-color: #27187c;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: .5s;
    font-size: 15px;
    width: 50px;
    height: 25px;
    padding: 1px;
    margin-left: 10px;
  }
  
  .budget-input button:hover {
    background-color: #2eb139;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    cursor: pointer;
  }
.input-container {
    display: flex;
    align-items: center;
    margin: 20px;
  }

  
  .input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 10px;
    resize: vertical;
  }
  
  .input-container button {
    background-color: #27187c;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    transition: .5s;
    font-size: 15px;
    width: 50px;
    height: 25px;
    padding: 1px;
    margin-left: 10px;
  }
  
  .input-container button:hover {
    background-color: #2eb139;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    cursor: pointer;
  }
  
  .balance-container {
    background-color: rgb(255, 255, 255);
    width: 240px;
    height: 175px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
  }
  
  .balance-container button {
    background-color: #27187c;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 10px;
    transition: .5s;
    font-size: 17px;
    width: 50px;
    padding: 0px;
    height: 25px;
    margin-top: 10px;
    font-size: 15px;
  }
  
  .balance-container button:hover {
    background-color: #2eb139;
    color: rgb(0, 0, 0);
    border-radius: 50px;
    cursor: pointer;
    margin-left: 10px;
  }
  
  .balance-container input {
    width: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin: 0 10px;
    resize: vertical;
  }
  
  .list-container {
    background-color: white;
    border-radius: 10px;
    width: 500px;
    height: 500px;
    padding: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    overflow-y: scroll;
    max-height: 300px;
    margin: 20px;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
  }

.full-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh; 
      
}

.delete-button{
    background-color: orange;
    border-radius: 50px;
    cursor: pointer;
    transition: .3s;
   
}

.delete-button:hover{
    background-color: red;
    color: white;
    border-radius: 50px;
    cursor: pointer;
}
  
.title {
  font-size: 30px;
  font-weight: 600;
  
  
  margin: 0px 0px 0px 20px;
  display: block;
  
}