body {
  color:  rgb(0, 0, 0);
  font-family: 'Poppins', sans-serif;
  
  
  background-color: #435165;
}

.info-box {
  width: 80%;
  height: 40px;
  margin: auto;
  margin-bottom: 30px;
  position: flex;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column-reverse;
  font-size: 25px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  
}

.title {
  font-size: 30px;
  padding-left: 50px;
  padding-bottom: 20px;
  margin: 10px auto;
  display: block;
  border-bottom: 1px solid #ddd;
  width: 80%;
}

.container {
  width: 80%;
  height: 100%;
  margin: auto;
  margin-top: 10px;
  position: flex;
  top: 0; left: 0; bottom: 0; right: 0;
  background-color: rgb(255, 255, 255);
  color: black;
  padding: 10px;
  border-radius: 10px;
}

.button {
  display: inline-block;
  background-color: #4CAF50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}
